/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.root {
  background: rgb(52, 5, 93);
  background: -moz-linear-gradient(
    90deg,
    rgba(52, 5, 93, 1) 0%,
    rgba(69, 13, 92, 1) 26%,
    rgba(77, 15, 94, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(52, 5, 93, 1) 0%,
    rgba(69, 13, 92, 1) 26%,
    rgba(77, 15, 94, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(52, 5, 93, 1) 0%,
    rgba(69, 13, 92, 1) 26%,
    rgba(77, 15, 94, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#34055d",endColorstr="#591261",GradientType=1);
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1.3fr;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-areas:
    'nv nv'
    'mn mn' /* mn fl */
    'ft ft';
}

.container nav {
  height: 60px;
  grid-area: nv;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 500;
}

.container main {
  grid-area: mn;
}
.container .calendar {
  /* background-color: yellow; */
  background-color: rgba(255, 255, 255, 0.1);
  grid-area: cl;
}
.container footer {
  grid-area: ft;
  height: 50px;
}
.container nav .navbar-left {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.container nav .navbar-middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}
.container nav .navbar-middle > * {
  padding: 0 20px;
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
}
.container nav .navbar-middle > *:hover {
  box-shadow: 0 3px 0 #ff5761 inset;
}

.container nav .navbar-right {
  width: 260px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}
.container nav .navbar-right .notification {
  cursor: pointer;
}

.container nav .navbar-right .profile {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  line-height: 20px;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.container nav .navbar-right .profile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* .container nav .navbar-right .profile .profile-info .name {

} */
.container nav .navbar-right .profile .profile-info .role {
  font-weight: 200;
  font-size: 0.9rem;
}
.container nav .navbar-right img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 0.5px white solid;
  background-image: url('./img/pp.jpe');
}

#board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0fr 0fr 1fr;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: 'Inter', sans-serif;
}

#board #project {
  width: 100%;
  height: 100px;
}
#board #project #projectContent {
  color: white;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
#board #project #projectContent #title,
#board #project #projectContent #somethingTitle {
  font-size: 1.3rem;
  font-weight: 700;
}

#board #project #projectContent #rightSide {
  display: flex;
  gap: 30px;
  align-items: center;
}
#board #project #projectContent #rightSide button {
  background-color: rgba(255, 87, 97, 1);
  padding: 10px 15px;
  font-size: 0.9rem;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(255, 87, 97, 0.4);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#board #project #projectContent #rightSide button:hover {
  background-color: rgba(255, 87, 97, 0.8);
}
#board #search {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#board #search #searchContent {
  border-radius: 10px;
  background-color: #41106c;
  width: 100%;
  height: 80%;
  display: flex;
  margin: 0 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  color: white;
}
#board #search #searchContent .filters {
  display: flex;
  width: 200px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 5 0%;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#board #search #searchContent .filters:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#board #search #searchContent .filters .quickFilters {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(172, 172, 172);
}
#board #search #searchContent .filters .filtersMore {
  font-size: 0.9rem;
}

#board #search #searchContent #searchBar {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
#board #search #searchContent #searchBar #searchBarInput {
  width: 100%;
  background-color: #41106c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#board #search #searchContent #searchBar #searchBarInput:focus,
#board #search #searchContent #searchBar #searchBarInput:hover {
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

#board #search #searchContent .searchRightSide {
  color: rgba(255, 87, 97, 1);
  font-size: 1.8rem;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}
#board #search #searchContent .searchRightSide :hover {
  color: rgb(255, 153, 160);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#board #projectArea {
  color: white;
  width: 100%;
}

#board #projectArea #projectContent {
  width: 95vw;
  padding: 20px;
  height: 58vh;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  /* grid-template-columns: repeat(55, 0fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
#board #projectArea #projectContent > * {
  width: 300px;
  display: grid;
  grid-template-rows: 0fr 1fr;
  gap: 10px;
  padding-right: 30px;
}
#board #projectArea #projectContent .project1Flex {
  display: flex;
  justify-content: space-between;
}
#board #projectArea #projectContent .project1Flex .fa-circle-plus {
  color: rgba(255, 87, 97, 1);
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#board #projectArea #projectContent .project1Flex .fa-circle-plus:hover {
  color: rgb(255, 153, 160);
}
#board #projectArea #projectContent #todo {
  display: grid;
  grid-template-rows: repeat(55, 0fr);
}
#board #projectArea #projectContent .todo {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: black;
  padding: 15px;
  background: rgb(108, 75, 138);
  background: -moz-linear-gradient(
    0deg,
    rgba(108, 75, 138, 1) 0%,
    rgba(102, 67, 134, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(108, 75, 138, 1) 0%,
    rgba(102, 67, 134, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(108, 75, 138, 1) 0%,
    rgba(102, 67, 134, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c4b8a",endColorstr="#664386",GradientType=1);

  outline: 1px solid rgba(163, 163, 163, 0.582);
}
#board #projectArea #projectContent .todo h1 {
  font-weight: 600;
}
#board #projectArea #projectContent .todo .todo1desc {
  line-height: 20px;
  font-size: 0.82rem;
}
#board #projectArea #projectContent .todo .todoDueDate,
#board #projectArea #projectContent .todo .todoPriority {
  font-size: 0.82rem;
}

#board #projectArea #projectContent .todoBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#board #projectArea #projectContent .todoBottom .todobottomMoreA {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
#board #projectArea #projectContent .todoBottom .todobottomMoreA:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#addTodoModal,
#addProjectModal {
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 10px;
  transition: cubic-bezier(0.25, 0.1, 0.25, 1) 250ms;
  width: 25rem;
  background: #d8a7b1;
  color: white;
  outline: 1px solid rgba(163, 163, 163, 0.582);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: rgb(52, 5, 93);
  background: -moz-linear-gradient(
    90deg,
    rgba(69, 13, 92, 1) 0%,
    rgba(77, 15, 94, 1) 26%,
    rgba(107, 19, 88, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(69, 13, 92, 1) 0%,
    rgba(77, 15, 94, 1) 26%,
    rgba(107, 19, 88, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(69, 13, 92, 1) 0%,
    rgba(77, 15, 94, 1) 26%,
    rgba(107, 19, 88, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#34055d",endColorstr="#591261",GradientType=1);
}

#addTodoModal form,
#addProjectModal form {
  display: flex;
  flex-direction: column;
}
#addTodoModal form .input-box,
#addProjectModal form .input-box {
  padding: 5px 30px;
  width: calc(30% - 10px);
  margin-left: 10px;
  margin-top: 10px;
}
#addTodoModal form .input-box input,
#addProjectModal form .input-box input {
  padding: 10px;
  font-size: 1.1rem;
  border: 1.5px rgb(219, 219, 219) solid;
  border-radius: 5px;

  background-color: #41106c;
  color: white;
  /* border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out; */
}
#addTodoModal form .input-box input:hover,
#addProjectModal form .input-box input:hover {
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: all ease-in-out 0.25s;
  box-shadow: 0px 0px 5px 5px rgba(172, 172, 172, 0.1);
}
#addTodoModal form .input-box input:focus,
#addProjectModal form .input-box input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1.5px rgb(156, 156, 255) solid;
}
#addTodoModal form .input-box label,
#addProjectModal form .input-box label {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  width: 20vw;
  letter-spacing: 1.5px;
  margin-bottom: 2px;
}
#addTodoModal form .submitBtnDiv,
#addProjectModal form .submitBtnDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
#addTodoModal form .submitBtnDiv button,
#addProjectModal form .submitBtnDiv button {
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
  border: 1px rgba(155, 155, 155, 0.5) solid;
  padding: 10px 35px;
  margin: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgba(52, 5, 93, 1);
  border-radius: 10px;
  display: block;
}
#addTodoModal form .submitBtnDiv #cancelBtn,
#addProjectModal form .submitBtnDiv #projectCancelBtn {
  background-image: linear-gradient(
    to right,
    #aa076b 0%,
    #61045f 51%,
    #aa076b 100%
  );
}
#addTodoModal form .submitBtnDiv #cancelBtn:hover,
#addProjectModal form .submitBtnDiv #projectCancelBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#addTodoModal form .submitBtnDiv #submitBtn,
#addProjectModal form .submitBtnDiv #projectSubmitBtn {
  background-image: linear-gradient(
    to right,
    #642b73 0%,
    #c6426e 51%,
    #642b73 100%
  );
}

#addTodoModal form .submitBtnDiv #submitBtn:hover,
#addProjectModal form .submitBtnDiv #projectSubmitBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
#addTodoModal form #selectInputBox,
#addProjectModal form #selectInputBox {
  width: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41106c;
  outline: 1.5px rgb(156, 156, 255) solid;
  overflow: hidden;
  border-radius: 0.25em;
  margin-left: 40px;
  margin-top: 10px;
}
#addTodoModal form #selectInputBox select,
#addProjectModal form #selectInputBox select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: #41106c;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}
#addTodoModal form #selectInputBox:hover,
#addProjectModal form #selectInputBox:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#addTodoModal form #selectInputBox select::-ms-expand,
#addProjectModal form #selectInputBox select::-ms-expand {
  display: none;
}
/* #addProjectModal form #selectInputBox::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
} */

.project1Div {
}
#footer {
  background: rgb(52, 5, 93);
  background: -moz-linear-gradient(
    90deg,
    rgba(52, 5, 93, 1) 0%,
    rgba(69, 13, 92, 1) 26%,
    rgba(77, 15, 94, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(52, 5, 93, 1) 0%,
    rgba(69, 13, 92, 1) 26%,
    rgba(77, 15, 94, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(52, 5, 93, 1) 0%,
    rgba(69, 13, 92, 1) 26%,
    rgba(77, 15, 94, 1) 45%,
    rgba(107, 19, 88, 1) 75%,
    rgba(89, 18, 97, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#34055d",endColorstr="#591261",GradientType=1);
}
#footer .footerContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.projectErrorDiv {
  display: flex;
  justify-content: center;
}

.projectError,
.titleError {
  width: 10rem;
  padding: 0;
  font-weight: 500;
  font-size: 0.9rem;
  color: rgb(241, 194, 194);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5em;
}
